.header{
    border-bottom: 1px black solid;
}
.header-image{
    max-width: 1024px;
}

.footer{

}
.footer-image{
    width: 100%;
    max-height: 200px
}

@media screen and (max-width: 1024px) {
    .header-image {
        width: 100%;
    }
  }

.fakeButton{
    background-color: gray;
    border: 1px, solid, black;
}

.buttonGame{
    width: 120px;
    height:35px;
}

.history{
    width: 95%;
    font-size: 12px;
}

.status-table table{
    border:1px solid black !important;
}

.status-table td{
    border:1px solid black !important;
}

.status-table tr{
    border:1px solid black !important;
}